/* GOOGLE FONTS INCLUDING AREA */

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi:ital@0;1&display=swap');



/*
? google fonts usage area

* Regular Type:

font-family: "Josefin Sans", serif;
font-family: "Jaldi", serif;
font-family: "Syncopate", serif;
font-family: "VT323", serif;

* Italic Type:

font-family: "Caveat", serif;
font-family: "Chewy", serif;

* Sanskrit Type:

font-family: "Tiro Devanagari Hindi", serif;

*/